template(name='home')
	#blue.block.blue
		nav.pushpin-demo-nav.pinned(data-target='blue' style='top: 0px')
			.nav-wrapper.light-blue: .container
				a.brand-logo Blue
				ul#nav-mobile.right.hide-on-med-and-down
					li: a Blue Link 1
	#red.block.red
		nav.pushpin-demo-nav.pin-top(data-target='red' style='top: 0px')
			.nav-wrapper.light-red: .container
				a.brand-logo Red
				ul#nav-mobile.right.hide-on-med-and-down
					li: a red Link 1
	#green.block.green
		nav.pushpin-demo-nav.pin-top(data-target='green' style='top: 0px')
			.nav-wrapper.light-green: .container
				a.brand-logo Green
				ul#nav-mobile.right.hide-on-med-and-down
					li: a Green Link 1
